<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <nav>
        <ul>
            <li><a href="{{ url_for('home') }}">Home</a></li>
            <!-- Dropdown Menu -->
            <li class="dropdown">
                <a href="javascript:void(0)" class="dropbtn">Options</a>
                <div class="dropdown-content">
                    <a href="{{ url_for('notes') }}">Notes</a>
                    <a href="{{ url_for('other_option1') }}">Other Option 1</a>
                    <a href="{{ url_for('other_option2') }}">Other Option 2</a>
                    <!-- Add more links here -->
                </div>
            </li>
            <li><a href="{{ url_for('about') }}">About Me</a></li>
        </ul>
    </nav>
<h1>Welcome to the Home Page</h1>
    <h2>Uploaded Files</h2>
    <ul>
        {% for file in files %}
        <li>
            <a href="{{ url_for('uploaded_file', filename=file.filename) }}">{{ file.filename }}</a>
            {% if file.upload_time %}
                ({{ file.upload_time.strftime('%Y-%m-%d %H:%M:%S') }})
            {% else %}
                (No upload time available)
            {% endif %}
        </li>
        {% endfor %}
    </ul>
</body>
</html>
